{% extends 'base.html' %}

{% block title %}
  Infos
{% endblock %}

{% block content%}
<body>
  <h1 id="infos-titre"> Infos</h1>
  <div id="infos-container">
    <div>
      <h2>Le club réunit sur une période par
        semaine, le lundi de 12h30 à 13h20, dans 
        la salle 004.
        Durant cette période, on mange, on parle,
        et on joue!
        Il est facile de                    , et il n’y a aucune obligation de venir une fois inscrit.
        
        Tout le monde est le bienvenu dans le club,
        débutants ou avancés !</h2>
    </div>
  </div>
</body>
{% endblock %}