{% extends 'base.html' %}

{% block title %}
  Infos
{% endblock %}

{% block content%}
<body>
  <div id="infos-big-container">
    <h1 class="titre-page" id="infos-titre"> Infos</h1>
    <div class="infos-container" id="infos-container-dessus">
      <h2>Le club se réunit sur une période par
        semaine, le <span class="infos-texte-evidence">mardi de 11h45 à 13h30</span>, dans 
        la <span class="infos-texte-evidence">salle 111</span>.
        <br>Durant cette période, on mange, on parle,
        et on joue!
        <br>Il est facile de 
        {% if not g.user %}
        <a href="{{ url_for('auth.register') }}" id="infos-texte-sinscrire" class="infos-texte-evidence">s'inscrire</a>
        {% else %}
        s'inscrire
        {% endif %}
        , et il n’y a aucune obligation de venir une fois inscrit.
        
        <br><br>Tout le monde est le bienvenu dans le club,
        débutants ou avancés !</h2>
      
      <img id="image-infos" src="{{url_for('static', filename='imgs/imgs-site/infos.JPG')}}"/>
    </div>
    <div class="infos-container" id="infos-container-dessous">
      <h2>Si vous avez des questions concernant le club, vous pouvez contacter le <span class="infos-texte-evidence">président
      du Club</span>, <span class="infos-texte-evidence">Gauthey Nils</span>, à l’adresse adresse.mail@mail.com . </h2>
    </div>
  </div>
</body>
{% endblock %}