{% extends 'base.html' %}

{% block title %}
  Tournois précédents
{% endblock %}

{% block content %}

<body>
  <div id="precedants-container">
    <div id="precedants-container-titre">
      <a id="precedants-lien-tournoi" href="{{ url_for('tournament.show_tournament') }}">> Tournoi</a>
      <h1 class="titre-page" id="precedants-titre" >Tournois précédants</h1>
    </div>
    <h3 id="precedants-texte">Au CSUD, un tournoi d’échecs est organisé chaque année, depuis 2020 jusqu’à aujourd’hui !
      <br>Chaque année, le nom du gagnant est inscrit sur la Coupe d’échecs du CSUD, dans le hall 
      <br>d’entrée.
    </h3>
    <div id="annees">
      <div id="2024">

      </div>
      <div id="2023">
        
      </div>
      <div id="2022"></div>
      <div id="2021"></div>
      <div id="2020"></div>
      <div id="2019"></div>
      <div id="2018"></div>
      <div id="2017"></div>
    </div>
  </div>
</body>

{% endblock %}
