{% extends 'base.html' %}

{% block title %}
  Tournoi
{% endblock %}
{% block content%}

<body>
  <div id="tournoi-container">
    <div id="tournoi-container-titre">
      <h1 class="titre-page" id="tournoi-titre" >Tournoi</h1>
      <img class="image-pion" src="{{url_for('static', filename='imgs/imgs-site/pion.png')}}" alt="pion">
    </div>
    {% for message in get_flashed_messages() %}
      <div class="flash">{{ message }}</div>
    {% endfor %}
    <div id="tournoi-container-dessous">
      <div id="tournoi-infos">
        <div class="tournoi-container-infos">
          {% if g.user['role'] == 'Admin'%}
            <div id="container-tournoi-modifier">
              <h2 id="tournoi-infos-titre">Informations</h2>
              <div id="container-tournoi-modifier-boutons">
                <form id="tournoi-modifier-form" action="{{url_for('tournament.show_edit_tournament')}}" method="get">
                  <button type="submit" id="tournoi-bouton-modifier">
                    <span>Modifier</span>
                    <img id="image-modifier" src="{{url_for('static', filename='imgs/imgs-site/modifier.png')}}" alt="Logo du bouton modifier"/>
                  </button>
                </form>
                <form action="{{url_for('tournament.show_create_tournament')}}" method="get">
                  <button type="submit" id="tournoi-bouton-ajouter">
                    <img id="image-ajouter" src="{{url_for('static', filename='imgs/imgs-site/plus.png')}}" alt="Logo du bouton ajouter"/>
                  </button>
                </form>
              </div>
            </div>
          {% else %}
            <h2 id="tournoi-infos-titre">Informations</h2>
          {% endif %}
          <table id="tournoi-infos-tableau">
            <tr>
              <th class="th-infos">Lieu :</th>
              <td class="td-infos">{{tournament['lieu']}}</td>
            </tr>
            <tr>
              <th class="th-infos">Date :</th>
              <td class="td-infos">{{date_lisible_tournoi}}</td>
            </tr>
            <tr>
              <th class="th-infos">Heure :</th>
              <td class="td-infos">{{tournament['horaire']}}</td>
            </tr>
            <tr>
              <th class="th-infos">Rondes :</th>
              <td class="td-infos">{{tournament['rondes']}}</td>
            </tr>
            <tr>
              <th class="th-infos">Cadence :</th>
              <td class="td-infos">{{tournament['cadence']}}</td>
            </tr>
            <tr>
              <th class="th-infos">Arbitre :</th>
              <td class="td-infos">{{tournament['arbitre']}}</td>
            </tr>
            <tr>
              <th class="th-infos">Date limite d'inscription :</th>
              <td class="td-infos">{{date_lisible_limite}}</td>
            </tr>
            <tr>
              <th class="th-infos">Prix :</th>
              <td class="td-infos">
                1er prix : {{tournament['prix_1']}}<br>
                2ème prix : {{tournament['prix_2']}}<br>
                3ème prix : {{tournament['prix_3']}}<br>
                Pour tous : {{tournament['prix_de_participation']}}
              </td>
            </tr>
          </table>
        </div>
      </div>
      <div id="tournoi-container-boutons">
        <img class="image-roi" src="{{url_for('static', filename='imgs/imgs-site/roi.png')}}" alt="roi">
        {% if inscriptions_fermees %}
          <div class="tournoi-bouton-script tournoi-div-ferme">
            <h3>Les inscriptions pour ce tournoi sont closes.</h3>
          </div>
        {% elif is_registered %}
          <form method="POST" id="form-annuler-unregister" action="{{ url_for('tournament.unregister_tournament') }}">
            <button class="tournoi-bouton-script tournoi-bouton-annuler">ANNULER</button>
          </form>
          <div class="tournoi-bouton-script tournoi-bouton-inscrit">
            <img id="vu-inscrit" src="{{url_for('static', filename='imgs/imgs-site/vu.png')}}" alt="vu">
            <h3 id="h3-inscrit">INSCRIT </h3>
          </div>
        {% else %}
          <button class="tournoi-bouton-script tournoi-bouton-sinsrire" id="btnConnect" onclick="changerBoutonSinscrire()">
              <h3>S'INSCRIRE</h3>
          </button>
        {% endif %}
          <a class="tournoi-bouton" href="{{url_for('tournament.show_precedents')}}">
            <h3>TOURNOIS PRECEDENTS</h3>
          </a>
        <button class="tournoi-bouton-liste tournoi-bouton" id="bouton-sinscrire-tournoi" onclick="changerBoutonListe()">
          <h3>LISTE DES PARTICIPANTS</h3>
        </button>
      </div>
    </div>
  </div>
  <script>
function changerBoutonSinscrire() {
        var button = document.getElementById("btnConnect");

        // Vérifie si le bouton a déjà été cliqué
        if (button.classList.contains("clicked")) {
            // Réinitialise l'état du bouton
            button.classList.remove("clicked");
            button.innerHTML = '<h3>S\'INSCRIRE</h3>';
        } else {
            // Ajoute l'état "cliqué"
            button.classList.add("clicked");

            // Ajouter du texte ou d'autres boutons à l'intérieur du bouton
            var addedContent = `
                <h3 id="sinscriree">S'INSCRIRE</h3>
                {% if g.user %}
                  <p id="text-test">Souhaitez-vous participer au <br>Tournoi d’échecs du CSUD ?</p>
                  <div id="div-test">
                    <button class="bouton-test" id="bouton-test-confirmer" type="button" onclick="registerTournament()">
                      <img class="image-logo" src="{{url_for('static', filename='imgs/imgs-site/vu.png')}}" alt="vu">
                      <span>CONFIRMER</span>
                    </button>
                    <button class="bouton-test" id="bouton-test-annuler">
                      <img class="image-logo" src="{{url_for('static', filename='imgs/imgs-site/croix.png')}}" alt="croix">
                      <span>ANNULER</span>
                    </button>
                  </div>
                {% else %}
                    <h3 id="texte-non-inscrit">Vous devez être connecté pour vous inscrire.</h3>
                {% endif %}
            `;
            button.innerHTML = addedContent; // Ajoute les nouveaux éléments dans le bouton
        }
    }
function registerTournament() {
    fetch("{{ url_for('tournament.register_tournament') }}", {
        method: "POST",
        headers: {
            "Content-Type": "application/x-www-form-urlencoded"
        },
        body: new URLSearchParams({
            tournament_id: "{{ tournament['id'] }}"
        })
    })
    .then(response => {
        location.reload();
    })
}
function changerBoutonListe() {
  var button = document.getElementById("bouton-sinscrire-tournoi");

  if (button.classList.contains("clicked")) {
      // Réinitialise l'état du bouton
      button.classList.remove("clicked");
      button.innerHTML = '<h3>LISTE DES PARTICIPANTS</h3>';
  } else {
      // Ajoute l'état "cliqué"
      button.classList.add("clicked");

      var addedContent = `
          <h3 id="titre-liste-clicked">LISTE DES PARTICIPANTS</h3>
          <div id="liste-participants-conteneur">
            {% if participants %}
              <table id="tournoi-liste-tableau">
                {% for participant in participants %}
                  <tr>
                    <th class="th-liste">{{loop.index}}.</th>
                    <td class="td-liste">{{ participant.nom }} {{ participant.prenom }}</td>
                  </tr>
                {% endfor %}
              </table>
            {% else %}
              <p>Aucun participant inscrit pour ce tournoi.</p>
            {% endif %}
          </div>
      `;
      button.innerHTML = addedContent;
  }
}
  
</script>
</body>


{% endblock %}