{% extends 'base.html' %}

{% block title %}
  Modification du profil
{% endblock %}

{% block content %}
<body>
  <div class="box-gris"  id="content-profile-edit">
    <div id="content-profile-titre">
      <h1 id="titre-profil">Profil </h1>
      <div id="content-profile-titre-boutons">
        <a href="{{ url_for('user.show_profile') }}" method="get">         
          <button type="submit" class="profil-bouton-modifier" id="profil-bouton-annuler">
            <span>ANNULER</span>
            <img class="logo-bouton-profil" id="image-modifier" src="{{url_for('static', filename='imgs/imgs-site/croix.png')}}" alt="Logo du bouton modifier"/>
          </button>
        </a>
        <form action="{{ url_for('user.update_profile') }}" method="post" enctype="multipart/form-data"> 
          <button type="submit" class="profil-bouton-modifier" id="profil-bouton-confirmer">
            <span>CONFIRMER</span>
            <img class="logo-bouton-profil" id="image-se-deco" src="{{url_for('static', filename='imgs/imgs-site/vu.png')}}" alt="Logo du bouton se déconnecter"/>
          </button> 
      </div>
    </div>
    <div id="container-profile-profil">
      <div id="container-profile-profil-gauche">
        <div id="q-r-tournoi">
          <label for="tournoi" class="questions-gauche-texte">Tournoi :</label>
          {% if is_registered %}
            <input name="tournoi" id="vert" class="reponses-gauche-boutons" disabled="disabled" placeholder="Inscrit"> 
          {% else%}
            <input name="tournoi" id="rouge" class="reponses-gauche-boutons" disabled="disabled" placeholder="Pas inscrit"> 
          {% endif%}        </div>
        <div id="q-r-role">
          <label for="role" class="questions-gauche-texte">Rôle :</label>
          <input name="role"class="reponses-gauche-boutons" id="reponses-gauche-bouton-role" disabled="disabled" value="{{g.user['role']}}"> 
        </div>
      </div>
      <div id="container-profile-profil-droite">
        <div class="q-r-droite">
          <h3 class="question-droite">Photo :</h3>
          <div id="profile-photo-container">
            <img id="profile-photo-edit" src="{{ url_for('static', filename=g.user['photo_de_profil']) }}" alt="Photo de profil"/>
            <img id="profile-photo-edit-icon" src="{{ url_for('static', filename='imgs/imgs-site/modifier.png') }}" alt="Modifier"/>
            <input type="file" name="photo_de_profil" id="input-pdp" class="input-pdp" accept="image/*">
          </div>
        </div>
        <div class="q-r-droite">
          <h3 class="question-droite">Nom :</h3>
          <h3 id="profile-nom">{{g.user.nom}} {{g.user.prenom}}</h3>
        </div>
        <div class="q-r-droite">
          <h3 class="question-droite">Classe :</h3>
          <input id="profile-classe" name="classe" value="{{g.user.classe}}">
        </div>
        <div class="q-r-droite">
          <label for="sexe" class="question-droite">Sexe :</label>
          <select name="sexe" id="select-sexe-edit">
            <option value="Non-spécifié" {% if g.user.sexe == "Non-spécifié" %} selected {% endif %}>Non spécifié</option>
            <option value="Masculin" {% if g.user.sexe == "Masculin" %} selected {% endif %}>Masculin</option>
            <option value="Féminin" {% if g.user.sexe == "Féminin" %} selected {% endif %}>Féminin</option>
          </select>
        </div>
      </div>
    </div>
    <h2 class="titre-profile-contacts-tournois"> CONTACTS</h2>
    <div id="container-profile-contacts">
      <label for="tel" class="contacts-label" >N° téléphone :</label>
      <input name="tel" id = "telephone-input" class="contacts-input" value="{{g.user.numero_de_telephone}}">
      <label for="mail" class="contacts-label" >Mail :</label>
      <input name="mail" id="mail-input" class="contacts-input" value="{{g.user.mail}}">
      <label for="chess_com" class="contacts-label" >Chess.com :</label>
      <input name="chess_com" class="contacts-input" value="{{g.user.chess_com}}">
      <label for="lichess"  class="contacts-label" >Lichess :</label>
      <input name="lichess" id="lichess-input" class="contacts-input" value="{{g.user.lichess}}">
    </div>
  </form>
  </div> 
  <script>
    document.addEventListener("DOMContentLoaded", function () {
    const profilePhotoContainer = document.getElementById("profile-photo-container");
    const profilePhoto = document.getElementById("profile-photo-edit");
    const fileInput = document.getElementById("input-pdp");

    // Ouvrir la boîte de sélection de fichier au clic sur l'image
    profilePhotoContainer.addEventListener("click", function () {
        fileInput.click();
    });

    // Mettre à jour l'image après sélection d'un fichier
    fileInput.addEventListener("change", function () {
        if (fileInput.files && fileInput.files[0]) {
            const reader = new FileReader();
            reader.onload = function (e) {
                profilePhoto.src = e.target.result;
            };
            reader.readAsDataURL(fileInput.files[0]);
        }
    });
});

  </script>
</body> 
{% endblock %}