{% extends 'base.html' %}

{% block title %}
  Modification du profil
{% endblock %}

{% block content %}
  <div class="box-gris"  id="content-profile">
    <div id="content-profile-titre">
      <h1 id="titre-profil">Profil </h1>
      <div id="content-profile-titre-boutons">
        <form action="{{ url_for('user.update_profile') }}" method="post"> 
          <button type="submit" class="profil-bouton-modifier" id="profil-bouton-confirmer">
            <span>CONFIRMER</span>
            <img class="logo-bouton-profil" id="image-se-deco" src="{{url_for('static', filename='imgs/vu.png')}}" alt="Logo du bouton se déconnecter"/>
          </button> 
        </form>
        <form action="{{ url_for('user.show_profile') }}" method="get">         
          <button type="submit" class="profil-bouton-modifier" id="profil-bouton-annuler">
            <span>ANNULER</span>
            <img class="logo-bouton-profil" id="image-modifier" src="{{url_for('static', filename='imgs/croix.png')}}" alt="Logo du bouton modifier"/>
          </button>
        </form>
      </div>
    </div>
    <div id="container-profile-profil">
      <div id="container-profile-profil-gauche">
        <div id="q-r-tournoi">
          <label for="tournoi" class="questions-gauche-texte">Tournoi :</label>
          <input name="tournoi" id="reponses-gauche-boutons-tournoi" class="reponses-gauche-boutons" placeholder="Pas inscrit"> 
        </div>
        <div id="q-r-langue">
          <label for="langue" class="questions-gauche-texte">Langue :</label>
          <input name="langue"class="reponses-gauche-boutons" id="reponses-gauche-bouton-langue" placeholder="Français"> 
        </div>
      </div>
      <div id="container-profile-profil-droite">
        <div class="q-r-droite">
          <h3 class="question-droite">Photo :</h3>
          <img id="profile-photo" src="{{url_for('static', filename=g.user['photo_de_profil'])}}" alt="Photo de profil"/>
        </div>
        <div class="q-r-droite">
          <h3 class="question-droite">Nom :</h3>
          <h3 id="profile-nom">{{g.user.prenom}}</h3>
        </div>
        <div class="q-r-droite">
          <h3 class="question-droite">Classe :</h3>
          <h3 id="profile-classe">{{g.user.classe}}</h3>
        </div>
        <div class="q-r-droite">
          <label for="sexe" class="question-droite">Sexe :</label>
          <input name="sexe" id="profile-sexe" placeholder="      -">
        </div>
      </div>
    </div>
    <h2 class="titre-profile-contacts-tournois"> CONTACTS</h2>
    <div id="container-profile-contacts">
      <label for="tel" class="contacts-label" >N° téléphone :</label>
      <input name="tel" id = "telephone-input" class="contacts-input" value="{{g.user.numero_de_telephone}}">
      <label for="mail" class="contacts-label" >Mail :</label>
      <input name="mail" id="mail-input" class="contacts-input" value="{{g.user.mail}}">
      <label for="chess_com" class="contacts-label" >Chess.com :</label>
      <input name="chess_com" class="contacts-input" value="{{g.user.chess_com}}">
      <label for="lichess"  class="contacts-label" >Lichess :</label>
      <input name="lichess" id="lichess-input" class="contacts-input" value="{{g.user.lichess}}">
    </div>
    <h2 class="titre-profile-contacts-tournois">TOURNOIS</h2>
    <div id="container-profile-tournois">
      <div id="container-profile-tournois-années">
          <label for="année" id="année-label" >Année</label>
        <ol>
          <li><input name="année1" class="année-input"  placeholder="   -"></li>
          <li><input name="année2" class="année-input"  placeholder="   -"></li>
          <li><input name="année3" class="année-input"  placeholder="   -"></li>
          <li><input name="année4" class="année-input"  placeholder="   -"></li>
        </ol>
      </div>
      <div id="container-profile-tournois-résultat">
        <label for="résultat" id="résultat-label" >Résultat</label>
        <input name="résultat1" class="résultat-input"  placeholder="      -">
        <input name="résultat2" class="résultat-input"  placeholder="      -">
        <input name="résultat3" class="résultat-input"  placeholder="      -">
        <input name="résultat4" class="résultat-input"  placeholder="      -">
      </div>
    </div>
  </div>  
{% endblock %}