/*
-----------------   DEFAULT CSS RULES NOT TO REMOVE ------------------
*/
/* 1. Use a more-intuitive box-sizing model. */
*, *::before, *::after {
  box-sizing: border-box;
}

/* 2. Remove default margin */
* {
  margin: 0;
}

/*
  Typographic tweaks!
  3. Add accessible line-height
  4. Improve text rendering
*/
body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
  font-size: 16px;
}

/* 5. Improve media defaults */
img, picture, video, canvas, svg {
  display: block;
  max-width: 100%;
}

/* 6. Remove built-in form typography styles */
input, button, textarea, select {
  font: inherit;
}

/* 7. Avoid text overflows  */
p, h1, h2, h3, h4, h5, h6 {
  overflow-wrap: break-word;
}

/* 8. Remove bullet point from list  */
ul{
  list-style-type: none;
}

/*
-----------------   ADD YOUR CSS RULES BELOW ------------------
*/
/*
-------------------------    General   ------------------------
*/
html, body{
  height: 100%;
  margin:0;
  }
  body{
    font-family: Arial, sans-serif;
    background-color: #F8F3E3;
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 100vh;
    margin: 0;
  }
  main {
  flex: 1;
  }
/*
----------------------   Barre du menu   ----------------------
*/
#header{
  height: 30%;
  z-index: 10;
  width: 100%;
}
#header-div{
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
#lien-accueil{
  width:15%;
}
#logo{
  position: relative;
  top:5%;
  left: 10%;
  height:60%;
  width: auto;
}
#header-titres-menu{
  width:70%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.titre_menu{
  position: relative;
  top: 30%;
  font-family: "Aldrich", sans-serif;
  font-weight: 400;
  font-style: normal;
  color: #8D493A;
  text-decoration: none;
}
#menu_connecter{
  color: #797a7a;
}
#carres_top_right_1{
  height:80%;
}

/*
----------------------   Barre des contacts   ----------------------
*/
#footer{
  position: relative;
  width: 100%;
  margin-top: auto;
  bottom:0;
  }
  #footer-nav{
  position: relative;
  right: 2%; 
  bottom:0;
  text-align: right;
  padding-top: 18vh;
  z-index: 30; 
  }
  
  #footer .infos_contacts{
  color:#A2845E;
  font-family: "Bakbak One", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 110%;
  }
  #numero{
  padding-bottom: 6vh;
  }
  #footer #contacts{
  color:#8D493A;
  font-family: "Aldrich", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 140%;
  margin-bottom: 5vh;
  padding-right: 4vh;
  }
  #carres-bottom-left {
  position: absolute;
  left: 0;
  bottom: 0;
  width: auto; 
  height: 19vh; 
  z-index: 1;
  }
  #cercle-contacts {
  position: absolute;
  right: 0;
  bottom: 0;
  height: auto; 
  width: 27%; 
  z-index: 10;
  }
/*
----------------------   Page d'accueil   ----------------------
*/
#content-index{
  height:70%;
}
#bienvenue{
color: #8D493A;
position: absolute;
top:40%;
left:13%;
font-family: "Bakbak One", sans-serif;
font-weight: 400;
font-style: normal;
font-size: 200%;
}
#club-echecs-csud{
color: #76453B;
position: absolute;
top:45%;
left:8%;
font-family: "Bakbak One", sans-serif;
font-weight: 400;
font-style:normal;
font-size: 450%;
}
#fond-accueil{
position: absolute;
width: 100%;
top:0;
left:0;
}
/*
----------------------   Page se connecter   ----------------------
*/
.se-connecter{
background-image: url("/static/imgs/echecs-se-connecter.JPG");
background-size: cover;
}

.container{
position: relative;
display: flex;
justify-content: center;
align-items: center;
margin-bottom: 10vh;
height:200vh;
}
.content-register{
height: 150vh;
background-color: #d9d9d9;
border-radius: 10%;
display: flex;
position: relative;
flex-direction: column;
justify-content: flex-start;
text-align: left;
width: 150vh;
font-family: "Bakbak One", sans-serif;
font-weight: 400;
font-style: normal;
}

.titre-se-connecter{
text-align: center;
margin-top: 10vh;
margin-bottom: 10vh;
color: #76453B;
font-size: 300%;
}
form { 
display: flex;
flex-direction: column; 
align-items: flex-start; 
width: 100%; 
}

label{
font-size: 110%;
margin-left: 13%;
}
input{
margin-left: 10%;
border-radius: 5vh;
height: 10vh;
margin-bottom: 6vh; 
}
.bouton-se-connecter{
background-color:#76453B;
font-family: "Aldrich", sans-serif;
font-weight: 400;
font-style: normal;
color:#F8F3E3;
width:20%;
border-radius: 5vh;
outline:none;
border: none;
margin-top: 4vh;
margin-left: 70%;
height:20%;
font-size: 110%;
}

.souvenir-container { 
display: flex; 
align-items: center; 
position: absolute;
left: 0;
margin-left: 10%; 
white-space: nowrap;
} 
#check-se-souvenir-de-moi{ 
height: 4vh; 
width: auto; 
} 
.boutons-sinscrire-mdp{
font-family: "Aldrich", sans-serif;
font-weight: 400;
font-style: normal;
color:#8D493A;
font-size: 100%;
top:50%;
}

#bouton-sinscrire{
position: absolute;
right:80%;

}
#bouton-mdp-oublié{
position: absolute;
right:55%;

}

.boutons-sinscrire-mdp a { 
  text-decoration: none;
  color: inherit;
} 

form label, form input:not([type="submit"]) { 
  width: 80%; 
}
#nom{
  width:38%;
  margin-left:7%;
}
#prenom{
  position: absolute;
  width:38%;
  left:38.5%;
}
#Classe{
  position: absolute;
  width:20%;
  left:72%;
}

#sinscrire{
  width:20%;
  margin-left: 70%;
  height:18%;
}

#nom_personne{
  position: absolute;
  z-index: 50;
  top:20%;
  left:90%;
  
}
#prenom_personne{
  position: absolute;
  z-index: 50;
  top:25%;
  left:90%;
}
.nom-prenom{
  font-family: "Bakbak One", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 110%;
}