/*
-----------------   DEFAULT CSS RULES NOT TO REMOVE ------------------
*/
/* 1. Use a more-intuitive box-sizing model. */
*, *::before, *::after {
  box-sizing: border-box;
}

/* 2. Remove default margin */
* {
  margin: 0;
}

/*
  Typographic tweaks!
  3. Add accessible line-height
  4. Improve text rendering
*/
body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
  font-size: 16px;
}

/* 5. Improve media defaults */
img, picture, video, canvas, svg {
  display: block;
  max-width: 100%;
}

/* 6. Remove built-in form typography styles */
input, button, textarea, select {
  font: inherit;
}

/* 7. Avoid text overflows  */
p, h1, h2, h3, h4, h5, h6 {
  overflow-wrap: break-word;
}

/* 8. Remove bullet point from list  */
ul{
  list-style-type: none;
}

/*
-----------------   ADD YOUR CSS RULES BELOW ------------------
*/
/*
-------------------------    General   ------------------------
*/
html, body{
  height: 100%;
  margin:0;
}
  body{
    font-family: Arial, sans-serif;
    background-color: #F8F3E3;
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 100vh;
  }
  main { 
    flex: 1; 
    width: 100%; 
    display: flex; 
    justify-content: center; 
    align-items: center; 
  }

/*
----------------------   Barre du menu   ----------------------
*/
#header{
  height: 20%;
  z-index: 10;
  width: 100%;
}
#header-div{
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
#lien-accueil{
  width:10%;
  object-fit: cover;
}
#logo{
  position: relative;
  top:17%;
  left: 10%;
  height: 80%;
  width: auto;
}
#header-titres-menu{
  width:70%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.titre_menu{
  position: relative;
  top: 50%;
  font-family: "Aldrich", sans-serif;
  font-weight: 400;
  font-style: normal;
  color: #8D493A;
  text-decoration: none;
}
#menu_connecter{
  color: #797a7a;
}
#carres_top_right_1{
  height:120%;
  position: relative;
  left:1%;
}

/*
----------------------   Barre des contacts   ----------------------
*/
#footer{
  width:100%;
  height:40%;
  z-index: 10;
}
#footer-div{
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-end;
}

#carres-bottom-left{
  height: 50%;
  
}
#cercle-contacts{
  order:3;
  height:100%;
}
#footer-texte-div{
  position: relative;
  left: 43%;
  bottom:15%;
  font-weight: 400;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
#footer #contacts{
  color:#8D493A;
  font-family: "Aldrich", sans-serif;
  font-style: normal;
  font-size: 140%;
  position: absolute;
  right:10%;
  bottom:150%;
}
#footer .infos_contacts{
  color:#A2845E;
  font-family: "Bakbak One", sans-serif;
  font-style: normal;
  font-size: 110%;
  }


/*
----------------------   Page d'accueil (déco)   ----------------------
*/
#fond-accueil{
  position: absolute;
  width: 100%;
  top:0;
  left:0;
  }
#content-index{
  width: 100%; 
  display: flex; 
  flex-direction: column; 
  justify-content: center; 
  align-items: center; 
  position: relative;
  font-family: "Bakbak One", sans-serif;
  font-weight: 400;
  font-style:normal;
}
#bienvenue{
color: #8D493A;
position: relative;
margin-top:10%;
right:20%;
font-size: 200%;
}
#club-echecs-csud{
color: #76453B;
position: relative;
margin-top: -1%;
margin-bottom: 15.8%;
right:10%;
font-size: 450%;
}

/*
----------------------   Page d'accueil (co)   ----------------------
*/
#top-right-co{
  display: flex;
  height: 100%;
  width:11%;
  flex-direction: row;
  justify-content: flex-end;
}
#lien-profil{
  width:100%;

}
#deco{
  position:absolute;
  top:50%;
  left:50%;
}
#carres_top_right_2{
  position: relative;
  margin-left:14%;
  height:130%;
  width: 150%;
}
#nom_personne{
  position: absolute;
  z-index: 50;
  top:20%;
  left:90%;
  
}
#prenom_personne{
  position: absolute;
  z-index: 50;
  top:25%;
  left:90%;
}
.nom-prenom{
  font-family: "Bakbak One", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 110%;
}
/*
----------------------   Page se connecter   ----------------------
*/
.se-connecter{
background-image: url("/static/imgs/echecs-se-connecter.JPG");
background-size: cover;
}

#container-se-connecter{
position: relative;
display: flex;
justify-content: center;
align-items: center;
margin-bottom: 10vh;
height:180vh;
}
.content-register{
height: 120vh;
background-color: #d9d9d9;
border-radius: 10%;
display: flex;
position: relative;
flex-direction: column;
justify-content: flex-start;
text-align: left;
width: 150vh;
font-family: "Bakbak One", sans-serif;
font-weight: 400;
font-style: normal;
}

.titre-se-connecter{
text-align: center;
margin-top: 10vh;
margin-bottom: 10vh;
color: #76453B;
font-size: 300%;
}
form label, form input:not([type="submit"]) { 
  width: 80%; 
}
form { 
display: flex;
flex-direction: column; 
align-items: flex-start; 
width: 100%; 
}

label{
font-size: 120%;
margin-left: 13%;
margin-bottom: 1%;
}
input{
margin-left: 10%;
padding-left: 2%;
border-radius: 5vh;
height: 12vh;
margin-bottom: 5vh; 
}
.bouton-se-connecter{
background-color:#76453B;
font-family: "Aldrich", sans-serif;
font-weight: 400;
font-style: normal;
color:#F8F3E3;
width:20%;
border-radius: 5vh;
outline:none;
border: none;
margin-top: 5vh;
padding-right: 2%;
margin-left: 70%;
height:20%;
font-size: 110%;
}

.souvenir-container { 
display: flex; 
position: absolute;
top:67%;
left: 10%;
white-space: nowrap;
} 

#check-se-souvenir-de-moi{ 
height: 4vh; 
position: relative;
left:3%;
width: auto; 
} 
#se-souvenir-de-moi{
  font-size: 110%;
}

.boutons-sinscrire-mdp{
font-family: "Aldrich", sans-serif;
font-weight: 400;
font-style: normal;
color:#8D493A;
font-size: 100%;
top:77%;
text-decoration: none;
}

#bouton-sinscrire{
position: absolute;
right:80%;
}

#bouton-mdp-oublié{
position: absolute;
right:55%;
}
/*
----------------------   Page s'inscrire  ----------------------
*/
#big-container-sinscrire{
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 10vh;
  height:220vh;
  }
#container-sinscrire{
  height:150vh;
}
#container-sinscrire-3{
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  margin-bottom: 5vh;
}
.sinscrire-input-3{
  height:63%;
  padding-left:5%;
}
.sinscrire-nom-3{
  position:relative;
  left:5%;
}
#input-nom{
  width:90%;

}
#input-prenom{
  width:90%;
}
#nom{
  margin-left:7%;
  width:40%;
}
#prenom{
  width:40%;
}
#Classe{
  margin-right:8.2%;
  width:20%;
}

#sinscrire{
  width:20%;
  margin-left: 70%;
  height:10%;
}
