/*
-----------------   DEFAULT CSS RULES NOT TO REMOVE ------------------
*/
/* 1. Use a more-intuitive box-sizing model. */
*, *::before, *::after {
  box-sizing: border-box;
}

/* 2. Remove default margin */
* {
  margin: 0;
}

/*
  Typographic tweaks!
  3. Add accessible line-height
  4. Improve text rendering
*/
body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
  font-size: 16px;
}

/* 5. Improve media defaults */
img, picture, video, canvas, svg {
  display: block;
  max-width: 100%;
}

/* 6. Remove built-in form typography styles */
input, button, textarea, select {
  font: inherit;
}

/* 7. Avoid text overflows  */
p, h1, h2, h3, h4, h5, h6 {
  overflow-wrap: break-word;
}

/* 8. Remove bullet point from list  */
ul{
  list-style-type: none;
}

/*
-----------------   ADD YOUR CSS RULES BELOW ------------------
*/
/*
-------------------------    General   ------------------------
*/

html, body{
  height: 100%;
  margin:0;
}
  body{
    font-family: "Bakbak One", sans-serif;
    background-color: #F8F3E3;
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 100vh;
  }
  main { 
    flex: 1; 
    width: 100%; 
    display: flex; 
    justify-content: center; 
    align-items: center; 
  }
  a {
    color: inherit;
    text-decoration: none; 
  }
/*
----------------------   Barre du menu (déco)   ----------------------
*/

#header{
  height: 20%;
  z-index: 10;
  width: 100%;
}
#header-div{
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
#lien-accueil{
  margin-left: 2vw;
  width:10%;
  object-fit: cover;
}
#logo{
  position: relative;
  top:17%;
  left: 10%;
  height: 80%;
  width: auto;
}
#header-titres-menu{
  width:70%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.titre_menu{
  position: relative;
  top: 50%;
  font-family: "Aldrich", sans-serif;
  font-weight: 400;
  font-style: normal;
  color: #8D493A;
  text-decoration: none;
}
#menu_connecter{
  color: #797a7a;
}
#carres_top_right_1{
  height:120%;
  position: relative;
}
/*
----------------------   Barre de menu (co)   ----------------------
*/
#top-right-co{
  display: flex;
  height: 100%;
  width:11%;
  flex-direction: column;
  align-items: flex-end;
  
}
#lien-profil{
  width:100%;
}
#menu-co-profil{
  position: absolute;
  top:7vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 25vh;
  width:11vw;
}
#carres_top_right_2{
  position: relative;
  height:130%;
  width: 90%;
}
#photo-barre-menu{
  width:7vw;
  height:7vw;
  border-radius: 50%;
  object-fit: cover;
}
.nom-prenom{
  font-size: 110%;
}
/*
----------------------   Barre des contacts   ----------------------
*/
#footer{
  margin-top: 8%;
  width:100%;
  height:40%;
  z-index: 10;
  flex-shrink: 0;
}
#footer-div{
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-end;
}

#carres-bottom-left{
  height: 50%;
  
}
#cercle-contacts{
  order:3;
  height:100%;
}
#footer-texte-div{
  position: relative;
  left: 43%;
  bottom:15%;
  font-weight: 400;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
#footer #contacts{
  color:#8D493A;
  font-family: "Aldrich", sans-serif;
  font-style: normal;
  font-size: 140%;
  position: absolute;
  right:10%;
  bottom:150%;
}
#footer .infos_contacts{
  color:#A2845E;
  font-size: 110%;
  }


/*
----------------------   Page d'accueil      --------------------------
*/
#fond-accueil{
  position: absolute;
  width: 100%;
  top:0;
  left:0;
  }
#content-index{
  width: 100%; 
  display: flex; 
  flex-direction: column; 
  justify-content: center; 
  align-items: center; 
  position: relative;
  font-style:normal;
  padding-bottom: 4.4vh;
}
#bienvenue{
  color: #8D493A;
  position: relative;
  margin-top:10%;
  right:20%;
  font-size: 200%;
}
#club-echecs-csud{
  color: #76453B;
  position: relative;
  margin-top: -1%;
  margin-bottom: 5.8%;
  right:10%;
  font-size: 450%;
}


/*
----------------------   Page se connecter   ----------------------
*/
.se-connecter{
background-image: url("/static/imgs/imgs-site/echecs-se-connecter.JPG");
background-size: cover;
}

.box-gris{
  background-color: #d9d9d9;
  border-radius: 100px;
  display: flex;
  position: relative;
  width: 150vh;
  flex-direction: column;
  margin-top: 15vh;
}
#content-register{
  height: 120vh;
  text-align: left;

}
.titre-se-connecter{
  text-align: center;
  margin-top: 10vh;
  margin-bottom: 10vh;
  color: #76453B;
  font-size: 300%;
}
form label, form input:not([type="submit"]) { 
  width: 80%; 
}
form { 
  display: flex;
  flex-direction: column; 
  align-items: flex-start; 
  width: 100%; 
  }

label{
  font-size: 130%;
}
.label-connection{
margin-left: 13%;
margin-bottom: 1%;
}
input{
font-family: "Aldrich", sans-serif;
font-size: large;
background-color: #F2F2F7;
box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.5);
border: none;
margin-left: 10%;
padding-left: 2%;
border-radius: 5vh;
height: 12vh;
margin-bottom: 5vh; 
}
#container-login-boutons{
  display: flex;
  flex-direction: row;
  width: 100%;
  white-space: nowrap;
  margin-top: 5vh;
}
.bouton-se-connecter{
  background-color:#76453B;
  font-family: "Aldrich", sans-serif;
  font-weight: 400;
  font-style: normal;
  color:#F8F3E3;
  width:20%;
  border-radius: 5vh;
  outline:none;
  border: none;
  padding-right: 2%;
  margin-left: 25%;
  height:10vh;
  font-size: 110%;
  cursor: pointer;
}

.boutons-sinscrire-mdp{
  font-family: "Aldrich", sans-serif;
  font-weight: 400;
  font-style: normal;
  color:#8D493A;
  font-size: 100%;
  text-decoration: none;
}

#bouton-sinscrire{
  margin-left: 10%;
}

#bouton-mdp-oublié{
  margin-left: 5%;  
}

/*
----------------------   Page s'inscrire  ----------------------
*/

.titre-page{
  color: #76453B;
  font-size: 350%;
}
#big-container-sinscrire{
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  height:250vh;
  margin-top:1vh;
  }
#container-sinscrire{
  height:250vh;
}
#container-sinscrire-3{
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  margin-bottom: 5vh;
}
.sinscrire-input-3{
  height:63%;
  padding-left:5%;
}
.sinscrire-nom-3{
  position:relative;
  margin-left: 13%;
  left:5%;
  height:12vh;
}
#input-nom{
  width:90%;

}
#input-prenom{
  width:90%;
}
#nom{
  margin-left:7%;
  width:40%;
}
#prenom{
  width:40%;
}
#Classe{
  margin-right:8.2%;
  width:20%;
}
#select-sexe{
font-family: "Aldrich", sans-serif;
font-size: large;
background-color: #F2F2F7;
box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.5);
border: none;
margin-left: 10%;
padding-left: 2%;
border-radius: 5vh;
height: 12vh;
margin-bottom: 5vh; 
width:20vw;
cursor: pointer;
}

#sinscrire-texte-facultatif{
  margin-left: 38%;
  color: #76453B;
  font-size: 140%;
  font-family: "Aldrich", sans-serif;
  padding: 4%;
}

#big-container-facultatif-connection{
  display: flex;
  flex-direction: column;
  width: 90%;
  height:52vh;
}
.container-facultatif-connection{
  display: flex;
  flex-direction: row;
}
#container-facultatif-connection-bas{
  margin-top: 5vh;
}
.facultatif-connection-d{
  margin-left: 6.5vw;
  height:11vh;
}
.facultatif-connection{
  width:70%;
  height:11vh;
  margin-left: 7vw;
}
.label-facultatif{
  margin-left: 9vw;
}
.label-facultatif-d{
  margin-left:8.5vw;
}
.sinscrire{
  margin-left:47vw;
  width:20%;
  height:7%;
  margin-bottom: 10%;
}
.flash{
  margin-left: 11%;
  margin-bottom: 4%;
}
.avec-flash{
  margin-top: 2%;
}
.sans-flash{
  margin-top: 7%;
}

/*
----------------------   Page Membres   ----------------------
*/

#membres-container{
  display: flex;
  flex-direction: column;
  align-items: center;
  width:100vw;
}
#membres-titre{
  margin-top: 16vh;
  color: #76453B;
  font-size: 350%;
  position: relative;
}
.membres-barre{
  width:90vw;
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-bottom:8vh ;
}
.membres-containers{
  margin-top: 15vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.membres-barre-titre{
  font-family: "Aldrich", sans-serif;
  font-size:220%;
  font-weight: normal;
  color: #8D493A;
  margin-right: 2vw;
}
.ligne{
  width:30vw;
  height:2px;
  background-color: #8D493A;
  margin-right: 2vw;
}
.ligne-gauche{
  width:8vw;

}
#ligne-droite1{
  width:60vw;
}
#ligne-droite2{
  width:55.3vw;
}
.image-pion{
  margin-left: 2vw;
  height:10vh;
  width: auto;
}

/*--------  Bouton page membres   ---------*/

.membres-cases{ 
  display: flex;
  flex-direction: row;
  margin-left: 6vw;
  gap: 3vw; 
  width: 100vw; 
  flex-wrap: wrap;
  cursor: pointer;
}
.membres-ligne{
  display: flex;
  flex-direction: row;
  width: 100vw;
  gap:0 3vw;
}
button.membres-case {
  all: unset;
  font-family: "Aldrich", sans-serif; 
  display: flex;
  flex-direction: row;
  align-items: center;
  padding-left: 2vw;
  height:33vh;
  width:27vw;
  background-color: #D9D9D9;
  border-radius: 50px;
  box-shadow: 2px 2px 3px rgba(0, 0, 0, 0.5);
}

.membres-case-photo {
  width:9vw;
  height:9vw;
  border-radius: 50%;
  object-fit: cover;
}

.membres-case-infos {
  font-weight: lighter;
  margin-left: 1.5vw;
}

.membres-nom-prenom {
  line-height: 1.2;
}

.membres-annee {
  margin-top: 3vh;
  font-size: 90%;
}

/*--------  Bouton ouvert page membres   ---------*/

.membres-case.big-grey-rectangle{
  display: flex;
  flex-direction: row;
  margin-left: 2vw;
  width: 88vw;
  height: 85vh ;
  transition: all 0.3s ease; 
}
.membre-carte-gauche{
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
  width: 35vw;
  margin-right: 1.6vw;
}
.membre-carte-photo{
  margin-top:10%;
  height:50vh;
  width:50vh;
  border-radius: 50%;
  object-fit: cover;
}
.membre-carte-nom-prenom{
  margin-top: 4%;
  font-size:180%;
  font-weight:larger;
}
.membre-carte-classe{
  font-size:140%;
  font-weight: large;

}
.membre-carte-droite{
  display: flex;
  flex-direction: column;
  height: 100%;
  width:55vw ;
}
.membre-container-brun{
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 97%;
  background-color: #D0B8A8;
  border-radius: 15px;
}
#membre-container-brun1{
  margin-top: 3%;
  height:40%;
  border-top-right-radius: 50px;
}
#membre-container-brun2{
  margin-top:5%;
  height:45%;
  border-bottom-right-radius: 50px;
}
.membre-container-brun-tot{
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  width: 100%;
  margin-top: 4%;
}
.membre-container-brun-cote{
  display: flex;
  flex-direction: column;
  font-size: larger;
}
.membre-container-brun-gauche{
  margin-left: 6%;
  width: 55%;
}
.membre-container-brun-droite{
  width: 30%;
}
.membre-case-titre{
  text-align: center;
  margin-top: 3.5%;
  line-height: 100%;
  color: #8D493A;
  font-size: 165%;
  text-wrap: wrap;
}
.tabulation_droite{
  margin-left: 3vw;
}
#aucun-tournoi-precedent{
  margin-top: 6vh;
}
.membre-tournois-container{
  width:100%;
  display: flex;
  flex-direction: row-reverse;
  justify-content: center;
}
.membre-tournois-container-enfant{
  height:18vh;
}
.coupe-trophee{
  height:7vw;
  width: auto;
  z-index: 40000;
}
.membre-tournois-container-enfant-h3{
  display: flex;
  flex-direction: row;
  align-items: center;
  height: 100%;
  width:12vw;
}
.aucun-tournoi-h3{
  display: flex;
  flex-direction: row;
  align-items: center;
  height: 100%;
}
/*
----------------------   Page Tournoi  --------------------
*/

#tournoi-container{
  height: 200vh;
  width:100vw;
  display: flex;
  flex-direction: column;
  align-items:flex-start;
}

#tournoi-container-titre{
  position: relative;
  left:5vw;
  margin-top: 10vh;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  height:30vh;
  width:40vw;
  margin-bottom: 5vh;
}
#tournoi-titre{
  margin-right: 6vw;
  font-size:380%;
}
#tournoi-container-dessous{
  display: flex;
  flex-direction: row;
}
.tournoi-container-infos{
  height:130vh;
  background-color:#D9D9D9;
  width:55vw;
  margin-left: 5vw;
  border-radius: 30px;
  box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.5);
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
}

#tournoi-infos-titre{
  margin-top: 8vh;
  font-family: "Aldrich", sans-serif; 
  color: #8D493A;
  font-size: 175%;
  margin-bottom: 10vh;
}
#container-tournoi-modifier{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 93%;
  margin-left:7%;
}
#container-tournoi-modifier-boutons{
  display: flex;
  flex-direction: row;
  width: 22vw;
  margin-right: 2%;
}
#tournoi-modifier-form{
  margin-right: 8%;
}
#tournoi-bouton-modifier{
  width: 15vw;
  cursor: pointer;
}
#tournoi-bouton-ajouter{
  width:10vh;
  border-radius: 50%;
  cursor: pointer;
}

#image-ajouter{
  width: 50px;
  height: auto;
}

#tournoi-infos-tableau{
  width: 100%;
  border-collapse: collapse;
  background-color: #E5E5EA;
  border-radius: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  overflow: hidden;
}

tr:nth-child(even) {
  background-color: #AEAEB2;
}
tr:nth-child(odd) {
  background-color: #E5E5EA;
}
.th-infos{
  width:22%;
  text-align: left;
  padding-left: 20px;
  font-weight: lighter;
}
.td-infos{
  font-family:"Aldrich", sans-serif;
  padding: 12px 15px;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.2);
}

.td-infos:first-child {
  font-weight: bold;
  background-color: #AEAEB2;
  width: 25%;
  text-align: left;
}

#tournoi-container-boutons{
  width:40vw;
  height:150vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.image-roi{
  transform: rotate(90deg);
  position: absolute;
  top: 77%;
  height:35%;
  width: auto;
}
.tournoi-bouton{
  z-index: 10;
  border-radius: 5vh;
  background-color:#8D493A;
  height:13vh;
  width:22vw;
  margin-top: 6vh;
  font-size: medium;
  display: flex;
  flex-direction: row;
  color:#F8F3E3;
  font-family: "Aldrich", sans-serif;
  align-items: center;
  justify-content: center;
}

/*--------  Tournoi create/edit   ---------*/

.tournoi-container-create-edit{
  display: flex;
  flex-direction: row;
  justify-content: center;
  width:100%;
}
#tournoi-infos-create-edit{
  margin-top: 10vh;
  width:70vw;
  height:160vh;
}
#container-tournoi-modifier-boutons-create-edit{
  display: flex;
  flex-direction: row-reverse;
  width: 30vw;
  margin-right: 6%;
}
.tournoi-create-edit-boutons{
  cursor: pointer;
  width:15vw;
  font-family: "Aldrich", sans-serif;
  color:white;
}
#tournoi-create-edit-confirmer{
  background-color: #34C759;
}
#tournoi-create-edit-annuler{
  background-color: #FF3B30;
}
.tournament-ce-input{
  all: unset;
  width:100%;
}

/*--------  Bouton tournoi sinscrire   ---------*/

.tournoi-bouton-script {
  position: relative;
  z-index: 10;
  border-radius: 5vh;
  background-color: #8D493A;
  height: 13vh;
  width: 22vw;
  font-size: medium;
  display: flex;
  flex-direction: column;
  color: #F8F3E3;
  font-family: "Aldrich", sans-serif;
  align-items: center;
  justify-content: center;
  transition: all 0.3s ease;
}
.tournoi-bouton-sinsrire{
  margin-top: 10vh;
  cursor: pointer;
}
.tournoi-div-ferme{
  margin-top: 10vh;
  text-align: center;
}

.tournoi-bouton-script.clicked {
  height: 40vh;
  width: 32vw;
}

.tournoi-bouton-script.clicked h3 {
  font-size: 2.5rem;
  transition: font-size 0.3s ease;
}

.tournoi-bouton-script h3 {
  margin: 0;             
  padding: 0;
  display: flex;           
  justify-content: center; 
  align-items: center;     
  height: 100%;            
  width: 100%;            
}

#div-test {
  display: flex;
  flex-direction: row;
  justify-content: center; 
  width: 100%;
  gap: 1vw; 
  align-items: center; 
}
#form-tournoi-sinscrire{
  width: 15vw;
}
#text-test {
  color: #DFD3C3;
  font-size: medium;
}

.bouton-test {
  margin-top: 2vh;
  display: flex; 
  flex-direction: row;
  align-items: center; 
  margin-bottom: 3vh;
  justify-content: flex-start;
  width: 15vw;
  color: white;
  cursor: pointer;
}

.image-logo {
  height: 50%;
  width: auto;
  margin-left: 1vw;
}

#bouton-test-confirmer {
  background-color: #34C759;
}

#bouton-test-annuler {
  background-color: #FF3B30;
}
#sinscriree{
  margin-top: 2vh;
  font-size: 2rem;
}

.tournoi-bouton-inscrit{
  background-color: #34C759;
  height:20vh;
  display: flex;
  flex-direction: row;
}
#h3-inscrit{
  width:50%;
  font-size: 170%;
}
#vu-inscrit{
  height:30%;
  width: auto;
}
.tournoi-bouton-annuler{
  cursor: pointer;
  background-color: #D9D9D9;
  width:10vw;
  height:8vh;
  color: black;
  font-size: 120%;
}
#form-annuler-unregister{
  width: 10vw;
  top:2%;
  position: relative;
  z-index: 30; 
  cursor: pointer;
}
#texte-non-inscrit{
  font-size: medium;
  margin-bottom: 5vh;
}
/*--------  Bouton tournoi liste   ---------*/

#titre-liste-clicked{
  margin-top:5vh;
}
#liste-participants-conteneur {
  height: 70%; 
  overflow-y: auto;
  margin-top: 2vh;
  width:95%;
  margin-left:1vw;
}
.tournoi-bouton-liste{
  z-index: 10;
  border-radius: 5vh;
  background-color: #8D493A;
  height: 13vh;
  width: 22vw;
  font-size: medium;
  display: flex;
  flex-direction: column;
  justify-content: baseline;
  color: #F8F3E3;
  font-family: "Aldrich", sans-serif;
  transition: all 0.3s ease;
  cursor: pointer;
}
.tournoi-bouton-liste.clicked {
  height: 90vh;
  width: 32vw;
}
#tournoi-liste-tableau{
  width: 95%;
  border-collapse: collapse;
  background-color: #E5E5EA;
  border-radius: 10px;
  overflow: hidden;
}

.td-liste{
  text-align: start;
  height:6vh;
  color:black;
  font-size: 110%;
  padding-left: 20px;
}
.th-liste{
  color:black;
  font-weight: lighter;
  width:6vh;
  text-align: left;
  padding-left: 20px;
  font-size: 110%;
}

/*
----------------  Page Tournois précédents   ---------------
*/
#precedents-bouton-ajouter{
  margin-left: 60vw;
  margin-top: 5vw;
  width:25vw;
  border-radius: 30px;
  cursor: pointer;
}
.aucun-tournoi{
  position:relative;
  top:10vh;
  left:30vw;
}
#precedents-container{
  height: 200vh;
  width:100vw;
  display: flex;
  flex-direction: column;
  align-items:flex-start;
}
#precedents-container-titre{
  margin-top: 8vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height:30vh;
  width:100vw;
  margin-bottom: 5vh;
  white-space:nowrap;
}
#precedents-lien-tournoi{
  position:relative;
  right:33vw;
  color: #D0B8A8;
  font-size: 1.5rem;
  margin-bottom: -2vh;
}
#precedents-titre{
  position:relative;
  right:16vw;
}
#precedents-texte{
  align-self: center;
  font-size: 130%;
}
#annees{
  width: 100%;
  margin-top: 10vh;

}
.annee {
  display: flex;
  align-items: center;
  cursor: pointer;
  margin-left: 10vw;
  margin-bottom: 2vh;
  font-size: larger;
}
.fleche {
  width: 10px;
  height: auto;
  margin-left: 10px;
  transition: transform 0.3s ease;
}
.fleche.tourne{
  transform: rotate(90deg);
}
.contenu-annee {
  width:90%;
  margin-left: 5%;
  display: flex;
  flex-direction: row;

}
.contenu-annee-partie{
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.boutons-slideshow{
  display: flex;
  flex-direction: row;
  margin-bottom: 5vh;
}

.slideshow {
  width: 100%; 
  height: 450px;
  overflow: hidden; 
  display: flex;
  justify-content: center;
  position: relative;
}

.slide-container {
  display: none;
}

.slide-container img {
  margin-top: 3vh;
  height: 350px; 
  width: auto; 
  max-width: 100%; 
  object-fit: contain; 
  border: 5px solid rgba(0, 0, 0, 0.7);
  padding: 5px;
  border-radius: 8px;
}

/* Afficher uniquement le premier élément au chargement */
.slideshow .slide-container:first-child {
  display: block;
}
.photo-description {
  position: absolute;
  left: 50%;
  bottom: 1.6vh;
  transform: translateX(-50%); /* Centrer exactement */
  height: 12vh;
  font-size: medium;
  width: 32vw;
  margin-top: 3vh;
  border: 3px solid #ccc;

  border-radius: 8px;
  background-color: #E5E5EA;
  text-align: center; 
  padding: 5px;
  overflow-y:scroll;
}

/*
----------------  Page Ajouter des photos   ---------------
*/

#ajouter-container-titre{
  position: relative;
  margin-top: 10vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height:30vh;
  width:65vw;
  margin-bottom: 5vh;
}
#precedents-add-lien-precedents{
  position:relative;
  color: #D0B8A8;
  font-size: 1.5rem;
  right:10vw;
  margin-bottom: -2vh;
}
.ajouter-container-bas{
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height:150vh;
}
#container-ajouter{
  height:125vh;
}
.ajouter-selects{
  display: flex;
  flex-direction: row;
  margin-top:10vh;
  margin-left: 4vw;
}
.label-annee{
  margin-left: 5vw;
}
#description{
  all: unset;
  font-family: "Aldrich", sans-serif;
  font-size: large;
  background-color: #F2F2F7;
  box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.5);
  border: none;
  margin-left: 10%;
  padding-left: 2%;
  padding-top: 1vh;
  border-radius: 5vh;
  height: 25vh;
  width: 80%;
  margin-bottom: 5vh; 
}
.bouton-ajouter{
  margin-top: 4vh;
  margin-left: 48vw;
}
.h3-photo{
  margin-left: 9vw;
  margin-bottom: 1vh;
}
.upload-btn {
  all: unset;
  display: inline-block;
  padding: 10px 20px;
  background-color:#8D493A;
  color: white;
  cursor: pointer;
  text-align: center;
  font-size: 16px;
  border-radius: 5px; 
  width: auto;
  height: auto;
  margin-left: 7vw;
  margin-bottom: 5vh;
}


.upload-btn:hover {
  background-color:#76453B;
}
.flash-prececents-add{
  margin-left: 11%;
  margin-top: 5%;
}

/*
----------------------   Page Infos  ----------------------
*/

#infos-big-container{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 150vh;
}
#infos-titre{
  color: #76453B;
  font-size: 350%;
  position: relative;
  right:40%;
  margin-bottom: 15vh;
}
.infos-container{
  font-weight:800;
  display: flex;
  flex-direction: row;
  width:85vw;
  font-family: "Aldrich", sans-serif;
  line-height:195%;
}
#infos-container-dessus{
  font-weight:800;
  display: flex;
  flex-direction: row;
  width:85vw;
  gap:5%;
  font-family: "Aldrich", sans-serif;
  margin-bottom: 0%;
}
#image-infos{
  width:40vw;
  height:60vh;
  border-radius: 10px;
}
#infos-container-dessous{
  margin-top: 10vh;
}
.infos-texte-evidence{
  color: #8D493A;
}
#infos-texte-sinscrire{
  font-size: 115%;
  text-decoration: underline;
}
.ajouter-photo{
  display: flex;
  flex-direction: row;
}
#file-link{
  margin-top: 2vh;
  margin-left: 4vw;
}

/*
----------------------   Page Profil   ----------------------
*/

#content-profile{
  margin-top: 18vh;
  width:80vw;
  height:295vh;

}
#content-profile-edit{
  margin-top: 18vh;
  width:80vw;
  height:210vh;

}
#content-profile-titre{
  margin-top: 6%;
  height:25vh;
  width:70vw;
  display: flex;
  flex-direction: row;
}
#titre-profil{
  margin-left: 8%;
  font-size: 350%;
  color: #76453B;
}
#content-profile-titre-boutons{
  display: flex;
  flex-direction:row-reverse;
  align-self: flex-end;
  margin-left: auto;
  gap:5%;
}
button{
  border-radius: 25px;
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  justify-content: center;
  gap:6%;
  border: none;
  font-size: larger;
  box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.5);
  height:10vh;
  width: 20vw;
}
.bouton-profil{
  width:20vw;
  display: flex;
  flex-direction: row-reverse;
  justify-content: flex-end;
}
#bouton-modifier{
  width:15vw;
  cursor: pointer;
}
#bouton-se-deco{
  cursor: pointer;
}
.profil-bouton-modifier{
  cursor: pointer;
  width:17vw;
  font-family:"Aldrich", sans-serif;
  color: white;
  font-weight: lighter;
}

#profil-bouton-annuler{
  background-color: #FF3B30;
}
#profil-bouton-confirmer{
  background-color:#34C759 ;
}
.logo-bouton-profil{
  height:65%;
  width:auto;
}
#image-modifier{
  height:45%;
}

/* Partie profil*/

#container-profile-profil{
  margin-top: 7%;
  display: flex;
  flex-direction: row;
}
#container-profile-profil-gauche, #container-profile-profil-droite{
  font-size: 110%;
  width:40vw;
  display: flex;
  flex-direction: column;
}

/* Gauche*/
#container-profile-profil-gauche{
  margin-top:4%;
}
.reponses-gauche-boutons{
  display: inline-block; 
  color: white;
  font-family: inherit;
  width:14vw;
  height:8vh;
  font-size: 110%;
  border-radius: 100px;
  margin-bottom: 10vh;
  padding-left: 3vw;
  padding-top: 1vh;
  cursor: pointer;
  background-color: #F2F2F7;
  box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.5);
  border: none;
  margin-left: 10%;

}
#reponses-gauche-bouton-role{
  margin-left: 7vw;
  padding-left: 4vw;
  background-color: #F2F2F7;
  font-family: inherit;
  width:14vw;
  height:8vh;
  font-size: 110%;
  border-radius: 100px;
  margin-bottom: 10vh;
  cursor: pointer;
}
#q-r-tournoi{
  height: 60%;
}

.questions-gauche-texte{
  margin-top: 1vh;
  margin-left:5vw;
}
.reponses-gauche-boutons::placeholder{
  color:white;
}
#rouge{
  background-color:#FF3B30 ;
  padding-left: 3vw;
}

#vert{
  background-color: #34C759;
  padding-left: 4.5vw;
}

  

/* Droite*/

#questions-droite, #reponses-droite{
  width:50%;
  font-size: 110%;
}
.q-r-droite{
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-bottom: 3%;
}
.question-droite{
  margin-right:10vw;
}
#profile-photo{
  width:13vw;
  height:13vw;
  border-radius: 50%;
  object-fit: cover;
}
#profile-photo-container {
  position: relative;
  width: 150px; 
  height: 150px;
  border-radius: 50%;
  overflow: hidden;
  cursor: pointer;
}

#profile-photo-edit {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: opacity 0.3s ease-in-out;
}

#profile-photo-container:hover #profile-photo {
  opacity: 0.5; /* Assombrit l'image au survol */
}

#profile-photo-edit-icon {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 40px; /* Ajuste selon la taille de ton icône */
  height: 40px;
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
}

#profile-photo-container:hover #profile-photo-edit-icon {
  opacity: 1; /* Affiche l'icône au survol */
}

.input-pdp{
  display: none;
}
#profile-nom{
  margin-left:8%;
  font-family: "Aldrich", sans-serif;
  font-weight: normal;
}
#profile-classe{
  width:10vw;
  padding-left: 3vw;
  margin-left: 1vw;
}
#profile-sexe{
  width:35%;
  margin-left: 0;
  padding-left:9%;
  height: 10vh;
  margin-bottom: 0;
}
#select-sexe-edit{
  font-family: "Aldrich", sans-serif;
  font-size: large;
  background-color: #F2F2F7;
  box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.5);
  border: none;
  padding-left:9%;
  border-radius: 5vh;
  height: 11vh;
  width: 15vw;
  cursor: pointer;
}

/* Partie contacts*/

.titre-profile-contacts-tournois{
  align-self:center ;
  font-size: 180%;
  margin-top: 10%;
  margin-bottom: 8%;
  font-family: "Aldrich", sans-serif;
  color: #8D493A;
}
.contacts-label{
  margin-left:3% ;
}
.contacts-input{
  margin-left:4% ;
  width:30%;
  height: 10vh;
}
#telephone-input, #lichess-input{
  margin-left: 2%;
}
#mail-input{
  margin-left: 5%;
}

/* Partie tournois*/

#container-profile-tournois{
  display: flex;
  flex-direction: row;
  justify-content: center;
  height:70vh;

}
#container-profile-tournois-années{

  width:50vw;
  height:100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
#année-label{
  font-size: 140%;
  position: relative;
  left:0.5%;
}
ol{
  font-size: 150%;
}
.année-input{
  margin-left: 15%;
  font-size: 93%;
  padding-left: 21.5%;
  height: 10vh;
  width:60%;
  margin-top: 4%;
  margin-bottom: 0;
}
#container-profile-tournois-résultat{
  width: 50vw;
  height:100%;
  flex-direction: column;
  display: flex;
  align-items: center;

}
#résultat-label{
  font-size: 140%;
}
.résultat-input{
  margin-left: 0;
  width:60%;
  font-size: 130%;
  padding-left: 20%;
  height:10vh;
  margin-top: 3%;
  margin-bottom: 0;
}
