<!doctype html>
<head>
    <title>{% block title %}{% endblock %}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>

<body>
    <header id="header">
        <nav id="header-nav">
            <div id="header-nav-logo">
                <a href="{{url_for('home.landing_page')}}">
                    <img id="logo" src="{{url_for('static', filename='imgs/logo-echecs-csud.png')}}" alt="logo-csud"/>
                </a>
            </div>
            <ul id="header-nav-menu">
                    <li class="titre_menu"> MEMBRES</li>
                    <li class="titre_menu"> ENTRAÎNEMENT</li>
                    <li class="titre_menu"> TOURNOI</li>
                    <li class="titre_menu"> INFOS</li>
                {% if g.user %}
                    <li><span>{{ g.user['username'] }}</span>
                    <li><a href="{{ url_for('auth.logout') }}">Se déconnecter</a>
                    <li><a href="{{url_for('user.show_profile')}}">Consulter son profil</a></li>
                {% else %}
                    <li><a href="{{ url_for('auth.login') }}">SE CONNECTER</a>
                {% endif %}
            </ul>
        </nav>
    </header>
        
    <main id="main-content">
        {% block content %}{% endblock %}
    </main>

    <footer id="footer">
        <div id="footer-nav">
            <div>
                <p id="contacts">CONTACTS</p>
                <p class="infos_contacts">Président du Club : Thürler Timo</p>
                <p class="infos_contacts">Numéro : 079 000 00 00</p>
            </div>
        </div>
    </footer>

    <script type="text/javascript" src="{{url_for('static', filename='js/script.js')}}"></script>
</body>