<!doctype html>
<html>
    <head>
        <title>{% block title %}{% endblock %}</title>
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Aldrich&family=Bakbak+One&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="{{ url_for('static', filename='css/style - Copie - Copie.css') }}">
    </head>

    <body >
        <header id="header">
            <div id="header-nav">              
                <a href="{{url_for('home.landing_page')}}" id="logo-csud">
                    <img id="logo" src="{{url_for('static', filename='imgs/logo-echecs-csud.png')}}" alt="logo-csud"/>
                </a>
                <ul id="header-nav-menu">
                        <li class="titre_menu" id="menu_membres"> MEMBRES</li>
                        <li class="titre_menu" id="menu_entrainement"> ENTRAÎNEMENT</li>
                        <li class="titre_menu" id="menu_tournoi"> TOURNOI</li>
                        <li class="titre_menu" id="menu_infos"> INFOS</li>
                    {% if g.user %}
                        <div>
                            <a href="{{ url_for('user.show_profile') }}">
                                <img src="{{url_for('static', filename='imgs/carres-top-right-2.png')}}" alt="carres_top_right_2" >
                                <li class="nom-prenom" id="nom_personne"><span>{{ g.user['nom'] }}</span></li>
                                <li class="nom-prenom" id="prenom_personne"><span>{{ g.user['prenom'] }}</span></li>
                            </a>
                        </div>
                        <a href="{{ url_for('auth.logout') }}">Se deco</a>
                        <!-- <li><span>{{ g.user['photo_de_profil'] }}</span></li> -->
                        <!--<li><a href="{{ url_for('auth.logout') }}">Se déconnecter</a></li>
                        <li><a href="{{url_for('user.show_profile')}}">Consulter son profil</a></li>-->
                    {% else %}
                        <li class="titre_menu" id="menu_connecter"><a href="{{ url_for('auth.login') }}">SE CONNECTER</a></li>
                        <img src="{{url_for('static', filename='imgs/carres-top-right.png')}}" alt="carres_top_right_1" >
                    {% endif %}
                </ul>
            </div>
        </header>
            
        <main id="main-content">
            {% block content %}{% endblock %}
        </main>

        <footer id="footer">
            <img id="carres-bottom-left" src="{{url_for('static', filename='imgs/carres-bottom-left.png')}}" alt="carres-bottom-left">
            <img id="cercle-contacts" src="{{url_for('static', filename='imgs/cercle-contacts.png')}}" alt="cercle-contacts">
            <div id="footer-nav">
                <p id="contacts">CONTACTS</p>
                <p class="infos_contacts">Président du Club : Thürler Timo</p>
                <p class="infos_contacts" id="numero">Numéro : 079 000 00 00</p>
            </div>
        </footer>

        <script type="text/javascript" src="{{url_for('static', filename='js/script.js')}}"></script>
    </body>
</html>